* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.menu-container { 
    display: flex;
    background-color: #1F2937;
    color: white;
    padding: 20px 0;
}

.menu {
    width: 900px;
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}


.logo {
    flex: 2;
    margin-left: 100px;
}
.link3 {
    margin-right: 100px;
}




.header-container {
    display: flex;
    background-color: #1F2937;
    justify-content: center;

}

.headerLeft {
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.headerRight {
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerlogotxt {
    font-size: 24px;
    color: #F9FAF8;
}

.headertxt {
    font-weight: bold;
    font-size: 48px; 
    color: #F9FAF8;
}

.paragraphtxt {
    font-size: 18px;
    color: #E5E7EB;
}

.signup {
    background-color: #3882F6;
    max-width: 100px;
}

.headerImage {
    max-width: 400px;
    max-height: 250px;
}



.informationHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color: #F9FAF8;
}

.informationHeadertxt {
    color: #1F2937;
    font-size: 36px;
    font-weight: bold;

}


.body1-container {
    display: flex;
    height: 300px;
    background-color: #F9FAF8;
    justify-content: center;
    align-items: self-start;
    gap: 30px;
}

.infosection {
    flex: 1;
    max-width: 150px;
    max-height: 150px;
    flex-wrap: wrap;
}



.body2-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;

}
.quote-box {
    display: flex;
    height: 300px;
    width: 900px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;

}

.quote-signature {
    font-size: 30px;
    color: #1F2937;
    font-weight: bolder;
    align-self: flex-end;
}


.body3-container {
    display: flex;
    height: 300px;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;

}

.call-to-action-box {
    display: flex;
    height: 150px;
    width: 900px;
    background-color: #3882F6;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.call-to-action-main {
    display: flex;
    flex-direction: column;
}

.main-text {
    color: #F9FAF8;
    font-size: 28px;
    font-weight: bolder;
}

.sub-text {
    font-size: 18px;
    color: #F9FAF8;

}

.button-signup {
    background-color: #3882F6;
    border-color: #F9FAF8;
    width: 100px;
    color: #F9FAF8;
    }

