* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.menu-container { 
    display: flex;
    background-color: #1F2937;
    color: white;
    padding: 20px 0;
}

.menu {
    width: 900px;
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}


.logo {
    flex: 2;
    margin-left: 100px;
}
.link3 {
    margin-right: 100px;
}


.header-container {
    display: flex;
    background-color: #1F2937;


}

.headerLeft {
    width: 900px;
    height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.headerRight {
    width: 900px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerlogotxt {
    font-size: 24px;
    color: #F9FAF8;
}

.headertxt {
    font-weight: extra-bold;
    font-size: 48px; 
    color: #F9FAF8;
}

.paragraphtxt {
    font-size: 18;
    color: #E5E7EB;
}

.signup {
    background-color: #3882F6;
    max-width: 100px;
}

.headerImage {
    max-width: 400px;
    max-height: 250px;
}